*mod
make.vars
abin.dev*
*.o
*.gcda
*.gcno
*.gcov
date.inc
*temp
TESTS/*/*diff
TESTS/*/*dat
TESTS/*/*out
TESTS/*/*bin
TESTS/*/*bin.??
TESTS/*/*bin.old
TESTS/*/*dat.??
TESTS/*/*xyz
TESTS/*/*xyz.?
TESTS/*/*xyz.??
TESTS/*/geom.dat.00*
TESTS/*/geom_mm.dat.00*
TESTS/REMD/DFTB/OUT*
TESTS/*/output
TESTS/REMD/restart.xyz.??.*
TESTS/*/restart.xyz.old
TESTS/*/restart.xyz.0?
TESTS/*/restart.xyz.10
TESTS/*/restart.xyz.0?.old
TESTS/*/debug.nacm
TESTS/*/ERROR
TESTS/SH_BUTCHER/geom.?.?.?
TESTS/CP2K*/WATER*
TESTS/PLUMED/*
WATERMODELS/libttm.a
DOC/*.log
DOC/*.bbl
DOC/*.aux
DOC/*.blg
DOC/*.toc
DOC/*out
abin.mpi
abin.cp2k*
abin.dev
