# Name of the Abin binary
OUT = abin

# Determine compilers, currently only gnu compilers are supported
# ifort may give different results (2015 version is know to not work for some reason)
FC = gfortran
CC = gcc 
CXX = g++
FFLAGS :=   -O2 -fopenmp  

#C compiler is used for NAB library, do not change this
CFLAGS :=   -O2  # do not use any other fancy stuff and no fopenmp for this
CXXFLAGS := -O2 -Wall -std=c++11

# Should we compile mpi version?
MPI = FALSE
MPI_PATH = YOUR_PATH TO MPI INSTALLATION
ifeq  ($(MPI),TRUE) 
  FC = $(MPI_PATH)/bin/mpifort
endif
# In theory, the following 2 lines should not be necessary,
# since mpif90 wrapper should take care of that
#MPI_LIBS = -L$(MPI_PATH)/lib -lmpich -lmpl # This works for MPICH, but not for OPENMPI needs -lmpi
#MPI_INC  = -I$(MPI_PATH)/include/

# Should we compile with NAB libraries (AMBER force field)
# Currently only possible with gfortran
NAB = FALSE

# Compile with PLUMED?
PLUM = FALSE
PLUMED_PATH = /home/suchanj/programs/plumed2/lib/plumed/src/lib/
PLUMLINK = $(PLUMED_PATH)/Plumed.inc

# if you have FFTW libraries available, set it to TRUE
# Needed for Normal mode coordinate transformation in PIMD, which is however not fully implemented
FFTW = FALSE

# Compile with direct interface to CP2K?
# This needs working CP2K library
# combination of CP2K = TRUE and  FFTW = TRUE was not tested, in principle should work
CP2K = FALSE
# The following needs to point to libraries needed by CP2K
# Basically, this is the copy from CP2K arch file
CP2KPATH   = /home/hollas/programes/src/cp2k-2.6.2/lib/Linux-x86-64-gfortran-mkl/sopt/
MYLIBS     = /home/hollas/programes/
MKL        = $(MYLIBS)/intel/parallel_studio_2015_update5/mkl/lib/intel64/
LIBINT_LIB = $(MYLIBS)/libint/1.1.4-gcc/lib
FFTW_LIB   = $(MYLIBS)/fftw/3.3.4-gcc/lib/
LIBXC_LIB  = $(MYLIBS)/libxc/2.1.2-gcc/lib
MKL_LIBS   = -ldl -L$(MKL) -lmkl_blas95_lp64 -lmkl_lapack95_lp64\
            -Wl,--start-group ${MKL}/libmkl_intel_lp64.a ${MKL}/libmkl_sequential.a\
             ${MKL}/libmkl_core.a -Wl,--end-group -lpthread

CP2K_LIBS    = $(MKL_LIBS) \
             $(FFTW_LIB)/libfftw3.a\
             $(LIBXC_LIB)/libxc.a\
             $(LIBINT_LIB)/libderiv.a\
             $(LIBINT_LIB)/libint.a
