*/*diff
*/*dat
*/*out
*/*bin
*/*bin.??
*/*bin.old
*/*dat.??
*/*xyz
*/*xyz.?
*/*xyz.??
*/geom.dat.00*
*/geom_mm.dat.00*
REMD/DFTB/OUT*
*/abin.out*
REMD/restart.xyz.??.*
*/restart.xyz.old
*/restart.xyz.0?
*/restart.xyz.10
*/restart.xyz.0?.old
*/debug.nacm
*/ERROR
SH_BUTCHER/geom.?.?.?
CP2K*/WATER*

# PLUMED backup files
bck.*

# Files from TERAPI* tests
tc_server?
tc_server
tc.out*
port.txt*
TC_ERROR*

!mini.xyz
