[input]
system=geom.dat.001	
charge=0
runtype=grad		
basis=6-31+g*
functional=CAM-B3LYP
method=tdhf		

[guess]
type=huckel		
save_mol=True

[scf]
multiplicity=3		
type=rohf		
maxit=300		
maxdiis=6
conv=1e-6		
init_scf=rohf		
init_it=50		
init_converger=0	
vshift=0.0		
mom=False		
mom_switch=0.003
soscf_type=0		
pfon=True             	
pfon_start_temp=2000  	
pfon_cooling_rate=50  	
pfon_nsmear=5         	

[tdhf]
type=mrsf		
nstate=4				

[properties]
grad=2			
export=True		

